doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title= pageMetaData.title
    link(rel="stylesheet", href="/assets/css/index.css")
    if isDev
      script(src="https://code.jquery.com/jquery-3.6.2.js" integrity="sha256-pkn2CUZmheSeyssYw3vMp1+xyub4m+e+QK4sQskvuo4=" crossorigin="anonymous")
    else
      script(src="https://code.jquery.com/jquery-3.6.2.min.js" integrity="sha256-2krYZKh//PcchRtd+H+VyyQoZ/e3EcrkxhM8ycwASPA=" crossorigin="anonymous")

    script(src="/assets/js/main.js")
    script.
      (function(){
        console.log("pug to js")
      })()
  body
    h1= pageMetaData.title
    p #{pageMetaData.title} - isDev: #{isDev}
    p projectRoot = #{projectRoot}
    p.no-js No Js
    p#display
    ul.sample-list
      li.sample-list__member
        a(href="#") abcdefg
